<section class="mc-card">
    <div class="content">
        <div class="person-card">
            <header>
                <img src="assets/mc/Ellipse 1.png" height="115px" width="115px">
                <h1>Ahmed Magdy</h1>
                <h3>Human Resources Manager</h3>
                <h4>At Maxim Consultancy</h4>
            </header>
            <article>
                <div class="action-buttons">
                    <div>
                        <img src="assets/mc/icons/phone.png" alt="">
                        <label for="makeCallBtn">01100001111</label>
                    </div>
                    <div>
                        <a id="makeCallBtn" href="tel:011-000-01111">Call</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div>
                        <img src="assets/mc/icons/email.png" alt="">
                        <label for="makeCallBtn">John@mc.com</label>
                    </div>
                    <div>
                        <a href="mailto:John@mc.com" id="emailBtn">Email</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div>
                        <img src="assets/mc/icons/website.png" alt="">
                        <label for="makeCallBtn">https://maximig.com</label>
                    </div>
                    <div>
                        <a href="https://maximig.com" id="visitBtn">Visit</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div class="d-flex align-items-start">
                        <img src="assets/mc/icons/location.png" alt="">
                        <label for="makeCallBtn" class="text-start">Al Multaqah El Araby, Nasr Road, Sheraton 147
                            Cairo, Heliopolis, Egypt</label>
                    </div>
                    <div>
                        <a target="_blank" href="https://goo.gl/maps/DZwUMaefnMtrHQxj9" id="navBtn">Navigate</a>
                    </div>
                </div>
                <div class="social-media">
                    <h3>Social Media</h3>
                    <div class="row">
                        <div class="col"><a href="" target="_blanc"><img src="assets/mc/icons/facebook.png"></a></div>
                        <div class="col"><a href="" target="_blanc"><img src="assets/mc/icons/Linked.png"></a></div>
                        <div class="col"><a href="" target="_blanc"><img src="assets/mc/icons/Instagram.png"></a></div>
                        <div class="col"><a href="" target="_blanc"><img src="assets/mc/icons/twitter.png"></a></div>
                        <div class="col"><a href="" target="_blanc"><img src="assets/mc/icons/behance.png"></a></div>
                    </div>
                </div>
                  <button class="contactBtn" id="downloadButtonNormal" [vcdDownloadVCard]="vCard">
                    <img src="assets/mi/icons/add_contact_icon.png" class="me-1 mb-1">Add to Contact
                  </button>
            </article>
            
        </div>
    </div>
</section>