<section class="mc-card">
    <div class="content">
        <div class="person-card">
            <header>
                <img src="{{cardInfo?.PhotoPath}}" class="personImg" height="115px" width="115px">
                <h1>{{cardInfo?.Fname}} {{cardInfo?.Lname}}</h1>
                <h3>{{cardInfo?.JopTitle}}</h3>
                <h4>At {{cardInfo?.CompanyName}}</h4>
            </header>
            <article>
                <div class="action-buttons">
                    <div class="d-flex align-items-center">
                        <img src="assets/mc/icons/phone.png">
                        <div class="d-flex flex-column">
                            <label for="makeCallBtn">{{cardInfo?.Phone1}}</label>
                            <label for="makeCallBtn">{{cardInfo?.Phone2}}</label>
                        </div>
                    </div>
                    <div>
                        <a id="makeCallBtn" href="{{'tel:'+cardInfo?.Phone1}}">Call</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div>
                        <img src="assets/mc/icons/email.png">
                        <label for="makeCallBtn">{{cardInfo?.Email}}</label>
                    </div>
                    <div>
                        <a href="mailto:{{cardInfo?.Email}}" id="emailBtn">Email</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div>
                        <img src="assets/mc/icons/website.png">
                        <label for="makeCallBtn">{{cardInfo?.Website}}</label>
                    </div>
                    <div>
                        <a href="{{cardInfo?.Website}}" id="visitBtn">Visit</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div class="d-flex align-items-start">
                        <img src="assets/mc/icons/location.png">
                        <label for="makeCallBtn" class="text-start">{{cardInfo?.Location}}</label>
                    </div>
                    <div>
                        <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{cardInfo?.Lat}},{{cardInfo?.Lng}}" id="navBtn">Navigate</a>
                    </div>
                </div>
                <div class="social-media">
                    <h3>Social Media</h3>
                    <div class="row">
                        <div class="col"><a href="{{cardInfo?.Facebook}}" target="_blanc"><img src="assets/mc/icons/facebook.png"></a></div>
                        <div class="col"><a href="{{cardInfo?.Linkedin}}" target="_blanc"><img src="assets/mc/icons/Linked.png"></a></div>
                        <div class="col"><a href="{{cardInfo?.Instagram}}" target="_blanc"><img src="assets/mc/icons/Instagram.png"></a></div>
                        <div class="col"><a href="{{cardInfo?.Twitter}}" target="_blanc"><img src="assets/mc/icons/twitter.png"></a></div>
                        <div class="col"><a href="{{cardInfo?.Behance}}" target="_blanc"><img src="assets/mc/icons/behance.png"></a></div>
                    </div>
                </div>
                  <button class="contactBtn" id="downloadButtonNormal" [vcdDownloadVCard]="vCard">
                    <img src="assets/mi/icons/add_contact_icon.png" class="me-1 mb-1">Add to Contact
                  </button>
            </article>
            
        </div>
    </div>
</section>