$main-theme: #A77F3E;
.mi-card {
    background-image: url(../../../assets/main_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .content {
        background-color: rgba($color: #000000, $alpha: 0.7);
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        .person-card {
            width: 395px;
            max-width: 395px;
            background: #fff;
            .personImgContainer {
                position: relative;
                .personImg {
                    width: 100px;
                    height: 100px;
                    border: 4px $main-theme solid;
                    border-radius: 50px;
                }
                .companyImg {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    bottom: 0;
                    left: 70px;
                    border: 3px solid $main-theme;
                    border-radius: 50px;
                    background-color: #fff;
                    padding: 3px;
                }

            }
            header {
                background-image: url(../../../assets/miHeaderBackground.svg);
                padding: 1.5rem 1rem;
                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    color: #fff;
                    margin-top: .5rem;
                }
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                }
                h4 {
                    font-size: 14px;
                    font-weight: 400;
                    color: #C3C3C3;
                }
            }
            article {
                padding: .5rem 1rem 3rem 1rem;
                background-color: #F8F4EA;
                text-align: center;
                .action-buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-block: 2rem;
                    label {
                        color: #484848;
                        font-size: 13px;
                        margin-left: .5rem;
                        padding-right: .3rem;
                    }
                    a {
                        background-color: $main-theme;
                        color: #fff;
                        border-radius: 5px;
                        padding: 5px 5px;
                        font-size: 14px;
                        min-width: 87px;
                        display: inline-block;
                        text-decoration: none;
                        border: none;
                    }
                }
                .social-media {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 1rem 0;
                    border-top: #ECE3D0 solid 2px;
                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                        color: $main-theme;
                    }
                }
                .contactBtn{
                    border: none;
                    width: 200px;
                    height: 45px;
                    background-color: $main-theme;
                    color: #fff;
                    box-shadow: $main-theme .3px .3px .3px .3px;
                    border: solid $main-theme 1px;
                    border-radius: 5px;
                }
            }
        } 
    }
}