<section class="mi-card">
    <div class="content">
        <div class="person-card">
            <header>
                <img src="assets/pexels-andrea-piacquadio-3778876.png" height="100px" width="100px">
                <h1>Ahmed Magdy</h1>
                <h3>Human Resources Manager</h3>
                <h4>At Maxim Consultancy</h4>
            </header>
            <article>
                <div class="action-buttons">
                    <div>
                        <img src="assets/icons/Group 133.svg" alt="">
                        <label for="makeCallBtn">01100001111</label>
                    </div>
                    <div>
                        <a id="makeCallBtn" href="tel:011-000-01111">Call</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div>
                        <img src="assets/icons/Group 134.svg" alt="">
                        <label for="makeCallBtn">John@mc.com</label>
                    </div>
                    <div>
                        <a href="mailto:John@mc.com" id="emailBtn">Email</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div>
                        <img src="assets/icons/Group 135.svg" alt="">
                        <label for="makeCallBtn">https://maximig.com</label>
                    </div>
                    <div>
                        <a href="https://maximig.com" id="visitBtn">Visit</a>
                    </div>
                </div>

                <div class="action-buttons">
                    <div class="d-flex align-items-start">
                        <img src="assets/icons/Group 137.svg" alt="">
                        <label for="makeCallBtn" class="text-start">Al Multaqah El Araby, Nasr Road, Sheraton 147
                            Cairo, Heliopolis, Egypt</label>
                    </div>
                    <div>
                        <a target="_blank" href="https://goo.gl/maps/DZwUMaefnMtrHQxj9" id="navBtn">Navigate</a>
                    </div>
                </div>
                <button class="contactBtn"><svg xmlns="http://www.w3.org/2000/svg" width="24.853" height="25" viewBox="0 0 24.853 25">
                    <g id="Group_139" data-name="Group 139" transform="translate(856 41)">
                      <path id="Path_2461" data-name="Path 2461" d="M0,247.713c.062-.44.1-.885.19-1.32a10.854,10.854,0,0,1,5.952-7.861,1.971,1.971,0,0,1,.8-.33c.248,0,.494.231.743.356a7.038,7.038,0,0,0,6.135.205l.243-.1c-1.356,2.66-1.292,5.233.607,7.551a6.433,6.433,0,0,0,7.258,2.087c0,.871.009,1.74,0,2.609-.005.338-.253.522-.528.666H.536A1.125,1.125,0,0,1,0,251.034Z" transform="translate(-856 -267.571)" fill="#484848"/>
                      <path id="Path_2462" data-name="Path 2462" d="M114.977,0c.4.092.811.155,1.2.281a5.636,5.636,0,1,1-2.408-.239A.77.77,0,0,0,113.9,0Z" transform="translate(-959.476 -41)" fill="#484848"/>
                      <path id="Path_2464" data-name="Path 2464" d="M304.543,212a5.127,5.127,0,1,1-5.127,5.11,5.129,5.129,0,0,1,5.127-5.11m.721,4.395v-.338c0-.779-.221-1.123-.725-1.127s-.737.347-.737,1.115v.349c-.24,0-.449,0-.659,0a.735.735,0,1,0,0,1.464c.216,0,.431,0,.659,0,0,.123,0,.211,0,.3,0,.817.223,1.168.737,1.164s.724-.35.725-1.176c0-.093,0-.187,0-.288.266,0,.493,0,.72,0a.731.731,0,1,0,0-1.462c-.227-.005-.454,0-.719,0" transform="translate(-1140.797 -242.652)" fill="#484848"/>
                    </g>
                  </svg>
                  Add to contact</button>

            </article>
        </div>
    </div>
</section>